<!DOCTYPE html>
<html>
<head>
    <title>Author Profile</title>
</head>
<body>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>

    {% if not articles %}
        <p>This user has not published any articles.</p>
    {% else %}
        {% for article in articles %}
            <a href="/articles/{{ article.slug }}/">
                {{ article.title }}
            </a>
            <p>{{ article.published|timesince }} ago</p>
        {% endfor %}
    {% endif %}
</body>
</html>