{% extends "base.html" %}

{% block title %}
Profile Edit Page
{% endblock %}

{% block body %}
<div class="card my-4">
    <h5 class="card-header">Edit your description!</h5>
    <div class="card-body">
        <form action="{% url 'profile-edit' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_description">Description</label>
                <textarea class="form-control" id="id_description" placeholder="Write here..." rows="5" name="description">{{ form.description.value }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock %}