<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <form action="/register/" method="POST">
        {% csrf_token %}
        {% for field in form %}
          <div class="fieldWrapper">
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
              <span class="help">{{ field.help_text|safe }}</span>
            {% endif %}
            {% if field.errors %}
                {% for error in field.errors %}
                    <br><strong>{{ error|escape }}</strong><br>
                {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
        <input type="submit">
    </form>
    <a href="{% url 'article-list' %}">
        <button>
            Cancel
        </button>
    </a>
</body>
</html>